<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>initPro - A slush generator of simple web project scaffold.</title>
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <script src="assets/js/blank.js"></script>
  </head>
  <body>
    <img src="assets/images/initprologo.png" />
    <h1>initPro</h1>
    <p>A slush generator of simple web project scaffold.</p>
  </body>
</html>
